<!doctype html>
<html>
<!--브라우저 창에서 ctrl+o를 하면 저장했던 html 파일을 웹브라우저로 열 수 있음-->
hello AI
<br>

<!--strong 태그-->
<h1>HTML</h1>
<strong>HTML(Hypertext Markup Language)</strong> creating <!--underline태그--><u>web</u> pages

<br>
<!--src==파일 소스 경로-->
<video controls="" autoplay="" name="media">
    <source src='D:/project/data/videos/outsidedoor_03/16-316-3_cam01_assault01_place02_night_spring.mp4' type="video/mp4">
</video>

<!--h1~h6 자동개행이 되는 제목을 나타내는 태그-->
<h1>WHAT</h1>
<h1>This is heading 1</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<h4>This is heading 4</h4>
<h5>This is heading 5</h5>
<h6>This is heading 6</h6>

<!--<p>paragraph tag 단락을 나타내는 태그-->
<p style="margin">
This paragraph
contains a lot of lines
in the source code,
but the browser 
ignores it.
</p><p style="margin-top:45px;">I wanna go back</p>

<!--<br>강제 줄바꿈이기 때문에 꺽쇠를 닫을 필요가 없다-->
나는<br>
아직도<br>
배가 고프다.

</html>